html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font: 14px Helvetica, Arial;
}

.layout {
  height: 100%;
  width: 100%;
}

.layout button {
  padding-bottom: 5px;
  padding-top: 5px;
  position: absolute;
  right: 30px;
  top: 10px;
  zoom: 150%;
}
